In [94]:
import pandas as pd
import numpy as np

In [181]:
# 汇总所有样本的相关性计算结果
# 返回所有样本与feature0相关性最高的k个指标
def get_corr_top(cause_nums, top_k=5):
    # cause_nums：根因为n的样本列表
    # all_top_lists：[{'456': ['feature2',...,]}, ..., ]
    all_top_lists = []
    for num in cause_nums:
        file_name = str(num) + '.csv'
        file_path = './train/' + file_name
        one_top = get_top(file_path, top_k)
        all_top_lists.append({str(num): one_top})
    return all_top_lists
    
# 计算指标间的相关性
# 返回与feature0相关性最高的k个指标
def get_top(file, top_k):
    # file：文件路径
    # top_list：k个相关性最高的指标列表
    df = pd.read_csv(file)
    columns = df.columns.to_list()
    zero_columns = df.loc[:, (df==0).any()].columns.tolist()
    for zero_column in zero_columns:
        columns.remove(zero_column)
    corr_result = {}
    for column in columns:
        if column=='Date & Time' or column=='feature0':
            continue
        two_features = df[['feature0', column]].dropna()
        if two_features.shape[0] > 10:
            corr = two_features['feature0'].corr(two_features[column])
            corr_result.update({column: abs(corr)})
    return sorted(corr_result.items(), key = lambda kv:(kv[1], kv[0]), reverse=True)[:top_k]

# 计算指标间的相关性
# 返回两个指标间的相关性
def corr_of_features(file):
    # file：文件路径
    # corr：
    df = pd.read_csv(file)
    columns = df.columns.to_list()
    zero_columns = df.loc[:, (df==0).any()].columns.tolist()
    for zero_column in zero_columns:
        columns.remove(zero_column)
    corr_result = {}
    corr = df['feature13'].corr(df['feature15'])
    return corr

# 计算get_corr_top返回结果的准确性
def get_precision(dict_res):
    both = 0
    only_13 = 0
    only_15 = 0
    for value in dict_res:
        value = [column[0] for column in list(value.values())[0]]
        if (('feature13' in value) and ('feature15' in value)):
            both = both + 1
        if (('feature13' in value) and ('feature15' not in value)):
            only_13 = only_13 + 1
        if (('feature13' not in value) and ('feature15' in value)):
            only_15 = only_15 + 1
    print('both: ', both, ' only_13: ', only_13, ' only_15: ', only_15)

In [170]:
cause1_nums = np.load('cause1_nums.npy')
cause1_nums = cause1_nums.tolist()

In [171]:
result_corr = get_corr_top(cause1_nums, top_k=5)

In [172]:
result_corr

[{'914': []},
 {'915': [('feature19', 0.3561213114284646),
   ('feature15', 0.3227677382757971),
   ('feature13', 0.2899404056925558),
   ('feature18', 0.1825063005412553),
   ('feature17', 0.14877168912473943)]},
 {'916': [('feature2', 0.8148756075282342),
   ('feature17', 0.8057762687004719),
   ('feature1', 0.7666901563004882),
   ('feature36_1', 0.556035100975663),
   ('feature69_4', 0.43588591150690914)]},
 {'917': [('feature13', 0.3402566002186528),
   ('feature19', 0.3080872782354349),
   ('feature15', 0.1776912038666281),
   ('feature14', 0.16411690366332068),
   ('feature61_1', 0.14665153186635804)]},
 {'918': [('feature28_6', 0.5301776096293961),
   ('feature61_6', 0.47399047156306134),
   ('feature60', 0.4496536896719257),
   ('feature69_0', 0.4408220646229884),
   ('feature28_5', 0.41116705836908757)]},
 {'919': [('feature13', 0.37241747757692356),
   ('feature14', 0.34902855396774085),
   ('feature3_4', 0.20575401215455674),
   ('feature17', nan),
   ('feature60', 0.3388732140720418)]},
 {'920': [('feature1', 0.2511942434385052),
   ('feature2', 0.16234907172566393),
   ('feature60', 0.125912400546602),
   ('feature61_0', 0.07685358694078832),
   ('feature19', 0.07430018119250967)]},
 {'921': [('feature2', 0.6642891663904628),
   ('feature1', 0.6558767275634411),
   ('feature16', 0.15056036962877917),
   ('feature17', nan)]},
 {'922': [('feature15', 0.8378820537602661),
   ('feature3_4', 0.8378111141814231),
   ('feature13', 0.8315843408666629),
   ('feature17', nan),
   ('feature60', 0.6589940728451934)]},
 {'924': [('feature1', 0.8865166643844345),
   ('feature16', 0.8451228452937178),
   ('feature36_4', 0.7668323071835762),
   ('feature69_4', 0.668958646043727),
   ('feature20_2', 0.6583621917237601)]},
 {'925': [('feature14', 0.2478441212727797),
   ('feature61_3', 0.20204055011245103),
   ('feature28_3', 0.20058784112955966),
   ('feature13', 0.18205317424459408),
   ('feature61_2', 0.17977458437581437)]},
 {'926': [('feature14', 0.2478441212727797),
   ('feature61_3', 0.20204055011245103),
   ('feature28_3', 0.20058784112955966),
   ('feature13', 0.18205317424459408),
   ('feature61_2', 0.17977458437581437)]},
 {'927': [('feature2', 0.74338169240656),
   ('feature16', 0.457913223327787),
   ('feature1', 0.4068255674484323),
   ('feature17', nan),
   ('feature69_1', 0.4211439553397844)]},
 {'928': [('feature15', 0.26222153225010136),
   ('feature3_4', 0.24872287696553141),
   ('feature18', 0.2237913186768724),
   ('feature13', 0.20669006422730488),
   ('feature12', 0.14642586228828586)]},
 {'929': [('feature13', 0.22371386897263287),
   ('feature17', nan),
   ('feature28_6', 0.20121892221096002),
   ('feature61_6', 0.18753856264242302),
   ('feature61_7', 0.1846091889552418)]},
 {'991': []},
 {'993': [('feature14', 0.595174242243589),
   ('feature13', 0.5770899573356676),
   ('feature17', 0.5721784571541051),
   ('feature20_6', 0.5553025256605179),
   ('feature15', 0.5360869217657802)]},
 {'1007': [('feature13', 0.9222736203613252),
   ('feature15', 0.8875127166632573),
   ('feature14', 0.7346124949279587),
   ('feature69_7', 0.6586808133733272),
   ('feature61_0', 0.6527407615187887)]},
 {'1021': []},
 {'1034': []},
 {'1037': [('feature15', 0.7026660625380962),
   ('feature13', 0.6979698515557824),
   ('feature20_4', 0.615409462834837),
   ('feature14', 0.42742885500778083),
   ('feature69_6', 0.4207931679943741)]},
 {'1142': [('feature18', 0.35973280334165764),
   ('feature69_3', 0.31027635552484983),
   ('feature19', 0.24420323062857907),
   ('feature16', 0.2388689493154392),
   ('feature69_4', 0.2311668454225705)]},
 {'1171': []},
 {'1250': [('feature1', 0.3234065462039557),
   ('feature17', 0.30708547747417936),
   ('feature2', 0.3002998487202969),
   ('feature36_0', 0.19905440631624952),
   ('feature18', 0.1751722058698106)]},
 {'1251': [('feature1', 0.6191243748096011),
   ('feature69_4', 0.3340858440320705),
   ('feature61_7', 0.2697725435615697),
   ('feature28_6', 0.2500928307762074),
   ('feature36_4', 0.238435471657362)]},
 {'1252': [('feature1', 0.8333933598498494),
   ('feature19', 0.799782447480102),
   ('feature28_2', 0.5255909062585719),
   ('feature20_0', 0.5213503777174799),
   ('feature69_5', 0.47907646664059406)]},
 {'1255': [('feature19', 0.1664935236331211),
   ('feature36_3', 0.16398188761828067),
   ('feature36_2', 0.13129251690565003),
   ('feature18', 0.12582241880441147),
   ('feature28_6', 0.11167709825889317)]},
 {'1257': [('feature18', 0.36256401961059115),
   ('feature19', 0.27721068501547674),
   ('feature69_7', 0.21376206635657782),
   ('feature36_7', 0.20258785905336063),
   ('feature61_7', 0.19349727729748742)]},
 {'1258': [('feature1', 0.9544848996632611),
   ('feature2', 0.8455997473866336),
   ('feature17', 0.8244872315271227),
   ('feature16', 0.6800902758840169)]},
 {'1380': [('feature15', 0.8703840697112286),
   ('feature13', 0.866430227209582),
   ('feature14', 0.7423583548455327),
   ('feature61_1', 0.6603088100788413),
   ('feature69_6', 0.6311752352352976)]},
 {'1414': []},
 {'1490': [('feature13', 0.8964575458758716),
   ('feature15', 0.7578770555955141),
   ('feature14', 0.5486003897459736),
   ('feature20_4', 0.4264244580165092),
   ('feature69_2', 0.37787830239965237)]},
 {'1540': []},
 {'1547': []},
 {'1573': []},
 {'1781': []},
 {'1786': []},
 {'1823': []},
 {'1824': []},
 {'1825': []},
 {'1843': []},
 {'1846': []},
 {'1852': []},
 {'1878': []},
 {'1879': []},
 {'1883': []},
 {'1884': []},
 {'1887': []},
 {'1888': []},
 {'1904': []},
 {'1913': []},
 {'1914': []},
 {'1918': []},
 {'1924': []},
 {'1931': []},
 {'1937': []},
 {'1938': []},
 {'1958': []},
 {'1973': []},
 {'1981': []},
 {'1988': []},
 {'1989': []},
 {'1992': []},
 {'1993': []},
 {'1994': []},
 {'1995': []},
 {'2006': []},
 {'2015': []},
 {'2040': []},
 {'2041': []},
 {'2043': []},
 {'2067': []},
 {'2074': []},
 {'2089': []},
 {'2090': []},
 {'2093': []},
 {'2105': []},
 {'2125': []},
 {'2130': []},
 {'2152': []},
 {'2171': []},
 {'2205': []},
 {'2231': []},
 {'2232': []},
 {'2274': []},
 {'2276': []},
 {'2285': []},
 {'2303': []},
 {'2361': []},
 {'2367': []},
 {'2425': []},
 {'2511': []},
 {'2517': []},
 {'2525': []},
 {'2526': []},
 {'2527': []},
 {'2549': []},
 {'2558': []},
 {'2559': []},
 {'2565': []},
 {'2586': []},
 {'2587': []},
 {'2603': []},
 {'2605': []},
 {'2606': []},
 {'2613': []},
 {'2614': []},
 {'2620': []},
 {'2662': []},
 {'2725': []},
 {'2917': []},
 {'2946': []}]

In [164]:
get_precision(result_corr)

both:  9  only_13:  4  only_15:  0

In [182]:
all_lists = []
for num in cause1_nums:
    file_name = str(num) + '.csv'
    file_path = './train/' + file_name
    one_top = corr_of_features(file_path)
    all_lists.append({str(num): one_top})

C:\Users\Tanghao\anaconda3\lib\site-packages\numpy\lib\function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\Tanghao\anaconda3\lib\site-packages\numpy\lib\function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [183]:
all_lists

[{'914': nan},
 {'915': 0.7405905956080938},
 {'916': 0.8610613499836443},
 {'917': 0.29847961503689807},
 {'918': 0.8645138613200151},
 {'919': 0.8636307387288341},
 {'920': 0.5998816040719429},
 {'921': 0.9960840224210954},
 {'922': 0.9530381193021555},
 {'924': 0.9841346734006807},
 {'925': 0.6728633328339401},
 {'926': 0.6728633328339401},
 {'927': 0.9904948132934203},
 {'928': 0.9224096409564726},
 {'929': 0.223553099795095},
 {'991': 1.0},
 {'993': 0.9866756404152663},
 {'1007': 0.9737282819017531},
 {'1021': nan},
 {'1034': 0.9999999999999999},
 {'1037': 0.775275738504124},
 {'1142': 0.5715962140066325},
 {'1171': nan},
 {'1250': 0.8198977864753487},
 {'1251': 0.7976489898354882},
 {'1252': 0.9197811243235949},
 {'1255': 0.5955383852316396},
 {'1257': 0.6552427193938293},
 {'1258': 0.9705957506421444},
 {'1380': 0.9838095536013971},
 {'1414': 1.0},
 {'1490': 0.664635907935292},
 {'1540': 0.9999999999999999},
 {'1547': -0.9999999999999999},
 {'1573': -0.5113765003036542},
 {'1781': nan},
 {'1786': nan},
 {'1823': nan},
 {'1824': 1.0},
 {'1825': nan},
 {'1843': nan},
 {'1846': nan},
 {'1852': nan},
 {'1878': nan},
 {'1879': nan},
 {'1883': nan},
 {'1884': nan},
 {'1887': 1.0},
 {'1888': nan},
 {'1904': nan},
 {'1913': nan},
 {'1914': nan},
 {'1918': nan},
 {'1924': nan},
 {'1931': nan},
 {'1937': nan},
 {'1938': 1.0},
 {'1958': nan},
 {'1973': 0.9999999999999999},
 {'1981': nan},
 {'1988': nan},
 {'1989': nan},
 {'1992': nan},
 {'1993': nan},
 {'1994': nan},
 {'1995': nan},
 {'2006': nan},
 {'2015': nan},
 {'2040': nan},
 {'2041': nan},
 {'2043': nan},
 {'2067': nan},
 {'2074': nan},
 {'2089': nan},
 {'2090': nan},
 {'2093': nan},
 {'2105': nan},
 {'2125': nan},
 {'2130': nan},
 {'2152': nan},
 {'2171': nan},
 {'2205': nan},
 {'2231': nan},
 {'2232': nan},
 {'2274': nan},
 {'2276': nan},
 {'2285': nan},
 {'2303': nan},
 {'2361': 1.0},
 {'2367': nan},
 {'2425': 1.0},
 {'2511': nan},
 {'2517': 0.9999999999999999},
 {'2525': nan},
 {'2526': nan},
 {'2527': 1.0},
 {'2549': nan},
 {'2558': nan},
 {'2559': 0.9930108106561849},
 {'2565': 0.9932791443449464},
 {'2586': nan},
 {'2587': nan},
 {'2603': 0.9127908955002747},
 {'2605': nan},
 {'2606': nan},
 {'2613': nan},
 {'2614': 1.0},
 {'2620': 1.0},
 {'2662': 0.9617855846432466},
 {'2725': 0.9946819087909864},
 {'2917': nan},
 {'2946': 1.0}]

# 测试

In [177]:
file_name = str(916) + '.csv'
file_path = './train/' + file_name
example = pd.read_csv(file_path)

In [178]:
example[['feature0', 'feature13', 'feature15']].dropna()

    feature0  feature13  feature15
8       0.23        0.0        0.0
9       7.41    24068.0      171.0
10      8.57     9696.0      104.0
11     11.03    12096.0      141.0
12     13.74    12528.0      152.0
13     18.00    17366.0      165.0
14     24.07    18951.0      187.0
15     29.37    24362.0      240.0
16     37.21    25296.0      229.0
17     45.71    28816.0      250.0
18     55.84    34192.0      286.0
19     67.63    32320.0      232.0
20     81.06    41152.0      302.0
21     99.43    49360.0      393.0
22    118.44    56288.0      459.0
23    131.16    56608.0      494.0
24    123.75    69776.0      510.0
25    137.74    59664.0      391.0
26    133.67    51632.0      319.0
27    145.92    48720.0      293.0
28    141.94    49792.0      320.0
29    141.54    52880.0      336.0
30    150.05    79539.0      372.0
31    150.02    72136.0      402.0
32    153.86    81574.0      446.0
33    155.99    72060.0      396.0
34    156.86    63159.0      370.0
35    158.34    58591.0      299.0
36    163.13    67517.0      329.0
37    165.94    72067.0      335.0
38    168.01    67260.0      318.0
39    168.76    79283.0      361.0
40    170.73    81375.0      378.0
41    174.05    75626.0      360.0
42    185.14    67767.0      329.0
43    179.86    81061.0      390.0
44    176.90    84410.0      409.0
45    195.42    84633.0      453.0
46    191.11    82141.0      614.0
47    198.27    66848.0      557.0
48    193.16   101694.0      541.0
49    198.97   106842.0      519.0

In [180]:
get_top(file_path, 15)

[('feature2', 0.8148756075282342),
 ('feature17', 0.8057762687004719),
 ('feature1', 0.7666901563004882),
 ('feature36_1', 0.556035100975663),
 ('feature69_4', 0.43588591150690914),
 ('feature61_1', 0.43095555804183405),
 ('feature16', 0.4024035892843376),
 ('feature69_5', 0.36998680491307756),
 ('feature36_5', 0.3662180159923495),
 ('feature61_4', 0.356433593052423),
 ('feature69_7', 0.35385345268992824),
 ('feature61_7', 0.3527266209560507),
 ('feature36_3', 0.35194451070393395),
 ('feature28_7', 0.34620097034099695),
 ('feature69_1', 0.32659117923235537)]

In [92]:
example[['feature0', 'feature1']].dropna()

     feature0  feature1
0      201.81     16.85
1      210.97     18.38
2      214.88     17.63
3      222.05     18.96
4      225.42     21.96
..        ...       ...
387    297.62     20.79
388    321.14     17.34
389    308.18     15.78
390    291.63     17.33
391    286.07     13.56

[392 rows x 2 columns]

In [89]:
result = get_corr_top(cause1_nums)
get_precision(result)

both:  21  only_13:  8  only_15:  1

In [121]:
df = pd.read_csv(file_path)
columns = df.columns.to_list()
# for column in columns:
#     if column=='Date & Time' or column=='feature0':
#         continue
#     two_features = df[df['feature0', column]]
#     break
two_features = df[['feature0', 'feature3_2']].dropna()
two_features

     feature0  feature3_2
0      201.81         0.0
1      210.97         0.0
2      214.88         0.0
3      222.05         0.0
4      225.42         0.0
..        ...         ...
387    297.62         0.0
388    321.14         0.0
389    308.18         0.0
390    291.63         0.0
391    286.07         0.0

[392 rows x 2 columns]

In [131]:
two_features.loc[:, (two_features==0).any()].columns.tolist()

['feature3_2']

In [140]:
result_dict = get_top(file_path)
result_dict

[('feature13', 0.3402566002186528),
 ('feature19', 0.3080872782354349),
 ('feature15', 0.1776912038666281),
 ('feature14', 0.16411690366332068),
 ('feature61_1', 0.14665153186635804)]

In [133]:
[34, 5, 6, 55].remove(34, 5)

TypeError: remove() takes exactly one argument (2 given)