In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_label = pd.read_csv('../train_label.csv')

In [3]:
train_label

      sample_index root-cause(s)
0              670    rootcause3
1              673    rootcause3
2              675    rootcause3
3              684    rootcause3
4              690    rootcause3
...            ...           ...
1402          2979    rootcause3
1403          2980    rootcause3
1404          2981    rootcause3
1405          2982    rootcause3
1406          2983    rootcause3

[1407 rows x 2 columns]

In [4]:
train_label[['root-cause(s)']].apply(pd.value_counts)

                       root-cause(s)
rootcause3                      1213
rootcause1                       112
rootcause2&rootcause3             71
rootcause2                        11

In [5]:
cause2_3_nums = train_label[train_label['root-cause(s)']=='rootcause2&rootcause3']['sample_index'].to_list()
cause2_3_nums
cause2_3_nums = np.array(cause2_3_nums)
np.save('../cause2_3_nums.npy', cause2_3_nums)

In [6]:
cause2_3_nums

array([ 843,  980, 1022, 1093, 1184, 1394, 1397, 1402, 1481, 1515, 1531,
       1577, 1629, 1650, 1662, 1667, 1668, 1672, 1675, 1681, 1720, 1721,
       1733, 1735, 1741, 1751, 1759, 1761, 1776, 1780, 1856, 1857, 1861,
       1865, 1872, 1876, 1922, 1923, 1925, 1927, 1928, 1936, 1976, 1982,
       2031, 2036, 2070, 2071, 2072, 2080, 2081, 2082, 2084, 2135, 2137,
       2138, 2146, 2147, 2150, 2206, 2211, 2226, 2229, 2288, 2289, 2290,
       2291, 2351, 2488, 2752, 2852])

In [9]:
file_path = '../train/' + str(914) + '.csv'
data = pd.read_csv(file_path)
data.describe()
# data.drop(columns='Date & Time', inplace=True)

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature3_5,feature3_6,feature3_7,...,feature77_6,feature77_7,feature85_0,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7
count,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.columns.to_list()

['Date & Time',
 'feature0',
 'feature1',
 'feature2',
 'feature3_1',
 'feature3_2',
 'feature3_3',
 'feature3_4',
 'feature3_5',
 'feature3_6',
 'feature3_7',
 'feature3_8',
 'feature11',
 'feature12',
 'feature13',
 'feature14',
 'feature15',
 'feature16',
 'feature17',
 'feature18',
 'feature19',
 'feature20_0',
 'feature20_1',
 'feature20_2',
 'feature20_3',
 'feature20_4',
 'feature20_5',
 'feature20_6',
 'feature20_7',
 'feature28_0',
 'feature28_1',
 'feature28_2',
 'feature28_3',
 'feature28_4',
 'feature28_5',
 'feature28_6',
 'feature28_7',
 'feature36_0',
 'feature36_1',
 'feature36_2',
 'feature36_3',
 'feature36_4',
 'feature36_5',
 'feature36_6',
 'feature36_7',
 'feature44_0',
 'feature44_1',
 'feature44_2',
 'feature44_3',
 'feature44_4',
 'feature44_5',
 'feature44_6',
 'feature44_7',
 'feature52_0',
 'feature52_1',
 'feature52_2',
 'feature52_3',
 'feature52_4',
 'feature52_5',
 'feature52_6',
 'feature52_7',
 'feature60',
 'feature61_0',
 'feature61_1',
 'feature61_2',
 'feature61_3',
 'feature61_4',
 'feature61_5',
 'feature61_6',
 'feature61_7',
 'feature69_0',
 'feature69_1',
 'feature69_2',
 'feature69_3',
 'feature69_4',
 'feature69_5',
 'feature69_6',
 'feature69_7',
 'feature77_0',
 'feature77_1',
 'feature77_2',
 'feature77_3',
 'feature77_4',
 'feature77_5',
 'feature77_6',
 'feature77_7',
 'feature85_0',
 'feature85_1',
 'feature85_2',
 'feature85_3',
 'feature85_4',
 'feature85_5',
 'feature85_6',
 'feature85_7']

In [13]:
data.drop(columns=['feature3_1', 'feature3_2', 'feature3_3', 
                   'feature3_4', 'feature3_5', 'feature3_6',
                   'feature3_7', 'feature3_8','feature14'])

,Date & Time,feature0,feature1,feature2,feature11,feature12,feature13,feature15,feature16,feature17,...,feature77_6,feature77_7,feature85_0,feature85_1,feature85_2,feature85_3,feature85_4,feature85_5,feature85_6,feature85_7
0,\t2020-08-13 15:58:43,0.08,7.00,1.90,0.0,10.00,1685.0,30.0,11.41,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,\t2020-08-13 15:58:44,2.42,15.16,3.00,0.0,1.64,12430.0,61.0,12.46,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,\t2020-08-13 15:58:45,40.91,18.21,3.00,0.0,1.90,115633.0,477.0,12.58,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,\t2020-08-13 15:58:46,268.92,21.59,3.51,0.0,4.91,127054.0,526.0,13.00,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,\t2020-08-13 15:58:47,297.54,22.30,3.90,0.0,13.90,122712.0,518.0,13.28,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,\t2020-08-13 16:06:23,286.21,16.69,3.00,0.0,6.50,188561.0,759.0,12.33,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,\t2020-08-13 16:06:24,285.19,17.68,3.00,0.0,8.66,173086.0,717.0,12.72,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,\t2020-08-13 16:06:25,276.60,17.88,3.00,0.0,13.45,199403.0,825.0,13.70,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,\t2020-08-13 16:06:26,276.74,16.52,3.00,0.0,7.47,191833.0,825.0,13.74,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,\t2020-08-13 16:06:26,284.69,17.30,3.00,0.0,7.96,190845.0,807.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN