# 数据处理
#### 合并特征数据

In [6]:
import pandas as pd
import numpy as np
import os

In [7]:
Folder_Path = '../train'          # 要拼接的文件夹及其完整路径，注意不要包含中文
SaveFile_Path =  '.../self-check'       # 拼接后要保存的文件路径
SaveFile_Name = 'mean.csv'              # 合并后要保存的文件名
 
# 将该文件夹下的所有文件名存入一个列表
file_list = os.listdir()

In [8]:
# 选择无 missing value 的数据
selected_features = np.array([\
       0,  1,  2,  3,  4,  5,  6, \
       11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, \
       60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75])

In [9]:
# 用第0个样本来初始化df0
df = pd.read_csv(Folder_Path +'/'+ '0.csv')
newdata = df.iloc[:,selected_features+1]
df0 = newdata.dropna().describe().iloc[[1],:]

# 存入第1-2984个样本
for i in range(2983):
    df = pd.read_csv(Folder_Path +'/'+ str(i+1)+'.csv')
    newdata = df.iloc[:,selected_features+1]
    df0=df0.append(newdata.dropna().describe().iloc[[1],:],ignore_index=True)

In [21]:
df = pd.read_csv(Folder_Path +'/'+ '0.csv')
newdata = df.iloc[:,selected_features+1]
df0 = newdata.dropna().describe().iloc[[1],:]
df0

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature61_5,feature61_6,feature61_7,feature69_0,feature69_1,feature69_2,feature69_3,feature69_4,feature69_5,feature69_6
mean,1092.5208,24.73,3.9524,20.88,0.0,0.0,1368.44,0.0152,5.2284,340252.32,...,1.9804,6.4868,4.0176,3.1656,8.148,4.704,4.5932,6.6012,1.7108,6.7084

In [10]:
df0

,feature0,feature1,feature2,feature3_1,feature3_2,feature3_3,feature3_4,feature11,feature12,feature13,...,feature61_5,feature61_6,feature61_7,feature69_0,feature69_1,feature69_2,feature69_3,feature69_4,feature69_5,feature69_6
0,1092.520800,24.730000,3.952400,20.880000,0.000000,0.000000,1368.440000,0.015200,5.228400,340252.320000,...,1.980400,6.486800,4.017600,3.165600,8.148000,4.704000,4.593200,6.601200,1.710800,6.708400
1,684.389444,18.527222,3.968333,12.333333,0.000000,0.000000,1290.888889,0.005000,8.860000,325444.444444,...,-0.885000,3.167222,-4.034444,-0.662778,-0.441111,4.240000,2.163333,0.475556,-0.339444,3.132778
2,369.106667,12.888889,3.447778,73.666667,0.000000,479.333333,794.222222,0.146667,11.042222,331398.333333,...,-1.826667,-7.826667,-10.688889,-8.055556,-0.026667,-1.354444,-4.681111,-8.103333,-4.478889,-6.862222
3,261.204286,15.137143,2.047143,32.500000,1184.928571,93.642857,0.000000,0.907143,11.715000,320818.142857,...,-5.652857,-8.854286,-11.822143,-12.607857,-6.680000,-9.000714,-7.741429,-8.435000,-4.255000,-12.586429
4,603.202500,25.222500,2.010833,32.083333,1310.083333,45.750000,0.000000,0.012500,5.756667,339515.250000,...,13.585000,4.645833,9.022500,18.912500,4.807500,14.443333,12.569167,9.187500,13.438333,3.495833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,263.856667,13.133333,2.343333,37.666667,1253.333333,0.000000,294.333333,0.073333,12.533333,391001.333333,...,-15.210000,-13.856667,-13.043333,-13.083333,-10.416667,-15.043333,-12.976667,-14.166667,-12.793333,-15.250000
2980,284.380000,15.090000,2.930000,53.000000,0.000000,1514.000000,0.000000,0.000000,6.730000,377350.000000,...,0.380000,-10.310000,-12.190000,3.880000,8.380000,-14.130000,-18.560000,5.250000,3.000000,-8.380000
2981,215.077500,14.237500,2.970000,24.000000,0.000000,1573.000000,0.000000,0.000000,8.700000,338963.750000,...,-9.595000,-13.420000,-8.172500,-3.797500,-7.690000,-6.282500,-2.532500,-11.002500,-11.780000,-13.767500
2982,247.040000,13.620000,1.980000,33.000000,1568.000000,0.000000,0.000000,0.000000,9.430000,334564.000000,...,5.130000,4.500000,-2.000000,0.880000,-18.310000,-12.630000,-5.130000,-1.310000,3.810000,0.630000
2983,163.515000,16.785000,1.060000,1502.000000,93.000000,0.000000,0.000000,0.000000,10.315000,332645.500000,...,4.310000,0.905000,-7.005000,-8.595000,-0.750000,-3.435000,-4.470000,-6.785000,4.970000,-1.910000

#### 合并根因数据

In [11]:
label= pd.read_csv("processed_label.csv",header=None)

In [12]:
label

           0    1    2    3    4    5    6
0      670.0  0.0  0.0  1.0  0.0  0.0  0.0
1      673.0  0.0  0.0  1.0  0.0  0.0  0.0
2      675.0  0.0  0.0  1.0  0.0  0.0  0.0
3      684.0  0.0  0.0  1.0  0.0  0.0  0.0
4      690.0  0.0  0.0  1.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...
1402  2979.0  0.0  0.0  1.0  0.0  0.0  0.0
1403  2980.0  0.0  0.0  1.0  0.0  0.0  0.0
1404  2981.0  0.0  0.0  1.0  0.0  0.0  0.0
1405  2982.0  0.0  0.0  1.0  0.0  0.0  0.0
1406  2983.0  0.0  0.0  1.0  0.0  0.0  0.0

[1407 rows x 7 columns]

In [13]:
qq=[] # 没有标记根因的样本索引
for i in range(2984):
    if i not in label.values[:,0]:
        qq.append(i)

In [14]:
len(qq)

1577

In [15]:
label0 = pd.concat([pd.DataFrame([[i,0,0,0,0,0,0]], columns=range(7)) for i in qq],
          ignore_index=True)
label=pd.concat([label0,label]) # 合并所有样本的根因标签

In [18]:
label

           0    1    2    3    4    5    6
0        0.0  0.0  0.0  0.0  0.0  0.0  0.0
1        1.0  0.0  0.0  0.0  0.0  0.0  0.0
2        2.0  0.0  0.0  0.0  0.0  0.0  0.0
3        3.0  0.0  0.0  0.0  0.0  0.0  0.0
4        4.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...
1402  2979.0  0.0  0.0  1.0  0.0  0.0  0.0
1403  2980.0  0.0  0.0  1.0  0.0  0.0  0.0
1404  2981.0  0.0  0.0  1.0  0.0  0.0  0.0
1405  2982.0  0.0  0.0  1.0  0.0  0.0  0.0
1406  2983.0  0.0  0.0  1.0  0.0  0.0  0.0

[2984 rows x 7 columns]

In [19]:
label=label.sort_values([0]).reset_index(drop=True)

In [20]:
label.iloc[:,1:]

        1    2    3    4    5    6
0     0.0  0.0  0.0  0.0  0.0  0.0
1     0.0  0.0  0.0  0.0  0.0  0.0
2     0.0  0.0  0.0  0.0  0.0  0.0
3     0.0  0.0  0.0  0.0  0.0  0.0
4     0.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...
2979  0.0  0.0  1.0  0.0  0.0  0.0
2980  0.0  0.0  1.0  0.0  0.0  0.0
2981  0.0  0.0  1.0  0.0  0.0  0.0
2982  0.0  0.0  1.0  0.0  0.0  0.0
2983  0.0  0.0  1.0  0.0  0.0  0.0

[2984 rows x 6 columns]

#### 合并特征数据和根因数据

In [1]:
mydata = pd.concat([df0,label.iloc[:,1:]],axis=1)
mydata.to_csv("mydata.csv")

NameError: name 'pd' is not defined